<!-- <p>admin-library works!</p> -->
<div class="bg-light p-4 container">
    <nav>
        <p class="navbar-brand" routerLink="/addBook">Add Books</p>
        <!-- <p class="navbar-brand">Show Student</p> -->
        <!-- <p routerLink="/addcontent" *ngIf="user.checkToken()">Add Content</p>
        <p routerLink="/publicblogs" *ngIf="user.checkToken()">Public Posts</p>
        <p routerLink="/privateblogs" *ngIf="user.checkToken()">Private Posts</p>
        <p class="navbar-brand" routerLink="/admin">Admin</p> -->
    </nav>
</div>