<!-- {{currentPasswordid}}
{{newPasswordid}}
{{confirmPasswordid}} -->
<form #changePasswordform="ngForm" [class.wd]="!changePasswordform.form.valid" [class.cd]="changePasswordform.form.valid" novalidate (submit)="submitForm($event)">
    <!-- <div class="changePassword">Change Password</div> -->
    <div class="form-group">
        <label for="examplecurrentPassword">Current Password</label>
        <input type="password" class="form-control" aria-describedby="currentpassHelp" placeholder="Enter current password" name="currentpass" #currentPassword="ngModel" [class.is-invalid]="!currentPassword.valid && currentPassword.touched" [class.is-valid]="currentPassword.valid && currentPassword.touched" [(ngModel)]="currentPasswordid" required>
        <small class="text-danger" *ngIf="!currentPassword.valid && currentPassword.touched">Current Password is required</small>
    </div>
    <div class="form-group">
        <label for="examplenewPassword">New Password</label>
        <input type="password" class="form-control" aria-describedby="newpassHelp" placeholder="Enter new password" name="newpass" #newPassword="ngModel" [class.is-invalid]="!newPassword.valid && newPassword.touched" [class.is-valid]="newPassword.valid && newPassword.touched" [(ngModel)]="newPasswordid" required>
        <small class="text-danger" *ngIf="!newPassword.valid && newPassword.touched">New Password is required</small>
    </div>
    <div class="form-group">
        <label for="exampleconfirmPassword">Confirm New Password</label>
        <input type="password" class="form-control" aria-describedby="confirmpassHelp" placeholder="Enter confirm password" name="confirmpass" #confirmPassword="ngModel" [class.is-invalid]="!confirmPassword.valid && confirmPassword.touched" [class.is-valid]="confirmPassword.valid && confirmPassword.touched" [(ngModel)]="confirmPasswordid" required>
        <small class="text-danger" *ngIf="!confirmPassword.valid && confirmPassword.touched">Confirm password is required</small>
    </div>
    
    <button type="submit" class="btn btn-info float-right" [disabled]="!changePasswordform.form.valid">Change</button>
</form>