

<div class="pos-f-t" *ngIf="!user.checkToken()">
  
  <nav class="navbar navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <nav>
        <p class="navbar-brand" routerLink="/login">Login</p>
        <p class="navbar-brand" routerLink="/register">Register Student</p>
        <!-- <p class="navbar-brand" *ngIf="user.checkToken()" routerLink="/student">Profile</p>
        <p class="navbar-brand" *ngIf="user.checkToken()" routerLink="/issueBook">Issue Book</p>
        <p class="navbar-brand" *ngIf="user.checkAdmin()=='riya'" routerLink="/admin">Admin</p>
        <button type="button" class="btn btn-info" (click)="logout()">Log Out</button> -->
      </nav>
    </div>
  </div>
</div>

<div class="nav-item dropdown profile navbtn" *ngIf="user.checkToken()">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Profile
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" routerLink="/issueBook">Issue Book</a>
    <a class="dropdown-item" routerLink="/student">Your Details</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" routerLink="/changePassword">Change Password</a>
    <a class="dropdown-item" *ngIf="user.checkAdmin()=='riya'" routerLink="/admin">Admin</a>
    <a class="dropdown-item" style="color: midnightblue" href="#" (click)="logout()">Log Out</a>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
<notifier-container></notifier-container>
